.overflow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  z-index: 1000;
  transition: all 0.3s ease-in-out 0.2s;
  opacity: 1;
  top: 0;


  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

  }

  &[data-youtube__overflow] {
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {

      width: 90%;
      height: calc(90vw * 0.56)
    }

    .close-btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $wc;
    }
  }
}

.form__container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $color-body;
  border: none;
  transition: transform 0.3s ease-in-out 0.3s, opacity 0.3s ease 0.3s;
  opacity: 1;
  padding-top: 64px;
  padding-bottom: 64px;
  overflow-y: auto;
  @include adaptive-padding(64, 24, left);
  @include adaptive-padding(64, 24, right);

  &>h3 {
    color: $text-color;
    font-weight: 400;
    line-height: 90%;
    @include adaptive-font(90, 50);
    @include adaptive-margin(100, 70, bottom);

    @media screen and (min-width: 768px) and (max-width: 1366px) {
      font-size: 60px;
      margin-bottom: 80px;
    }
  }

  .social-list {
    margin-top: auto;
    justify-self: flex-end;

    li a {
      color: $accent-color;
    }
  }

  .hidden & {
    transform: translateX(100%);
    opacity: 0;
  }

  @include tablet {
    .social-list {
      justify-content: space-around;
      gap: 0;

      li a {
        font-weight: 600;
        color: $text-color;

      }
    }

    @include adaptive-width(700, 390);

  }

  @include laptop {
    .social-list {


      li a {
        span.hover {
          color: $text-color;
        }

      }
    }
  }

  @include desktop {
    // width: 580px;
  }

  .text-container {
    width: 100%;


    p {
      color: $text-color;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      margin-bottom: 15px;
      @include adaptive-font(18, 15)
    }
  }
}

// .call-us__container {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   background-color: $bg-color;
//   transform: translate(-50%, -50%);
//   padding: 32px 16px;
//   transition: transform 0.3s ease-in-out 0.3s, opacity 0.3s ease 0.3s;
//   opacity: 1;

//   .hidden & {
//     transform: translate(-50%, -20%);
//     opacity: 0;
//   }

//   @include tablet {
//     padding: 72px 24px;
//   }

//   @include laptop {
//     padding: 100px 100px;
//   }

//   @include desktop {
//     padding: 100px 120px;
//   }
// }
.iti.iti--container {
  max-width: 500px !important;
  left: auto;


}


.close-btn {
  position: absolute;
  top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 36px;




  svg {
    width: 34px;
    height: 34px;
  }


}

.call-us__title-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 48px;

  h2 {}

  p {
    @include general-text;


    @include tablet {
      width: 324px;
    }

    @include laptop {
      width: 500px;
    }

    @include desktop {
      width: 600px;
    }
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }
}


.inputs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 12px;
  width: 100%;
  @include adaptive-margin(48, 36, bottom);

  @include tablet {}

  @include laptop {}

  @include desktop {
    gap: 20px;
  }
}



.form-field {
  position: relative;
  width: 100%;

  @include adaptive-margin(60, 48, bottom);

  &:last-child {
    margin-bottom: 0px;
  }

  &.half {
    width: calc((100% - 12px) / 2);

    @include desktop {
      width: calc((100% - 20px) / 2);
    }
  }
}

.input-message {
  position: absolute;
  bottom: -16px;
  // left: 50%;
  // transform: translateX(-50%);
  z-index: 2;
  color: red;
}

.iti--allow-dropdown .iti__flag-container {
  bottom: 16px !important;
}

.form-field__input {
  width: 100%;
  padding-bottom: 16px;
  border: none;
  border-bottom: 1px solid rgba(29, 29, 29, 0.15);
  transition: border-color 0.5s ease-in-out;



  &::placeholder {}

  &:focus {
    border-color: $accent-color;
  }

}

.text-input,
textarea {
  resize: none;

}

.form__button {
  justify-self: flex-end;


  width: fit-content;

  &:hover .submit-btn__text {

    position: relative;
    z-index: 1;
  }
}

.form__button-svg {
  transform: scale(1.25);

  @include laptop {
    transform: translateY(50%) scale(1.25);
  }
}

.form__button-wrapper {
  display: flex;
  justify-content: center;

  button {
    color: $accent-color;
    border-color: $accent-color;
    border-width: 2px;
    padding: 20px 70px;
    font-weight: 600;
    font-size: 20px;

    span.hover {
      transform: translateY(180%);
      color: $wc;
    }

    @include tablet {
      &::before {
        background-color: $accent-color;
      }

      &:hover {
        span.main {
          transform: translateY(-180%);
        }

      }
    }
  }

  @include tablet {}

  @include laptop {}

  @include desktop {}


}

.submit-btn__text {
  @include laptop {}
}

.iti__flag {
  background-image: url('../images/libs/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('../images/libs/flags@2x.png');
  }
}

.input-message {
  text-transform: none;

}

.footer .iti--allow-dropdown input {
  padding-left: 0;
  padding-right: 0;

  @include laptop {
    padding-left: 56px;
    padding-right: 20px;
  }
}

.iti__country-list {
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}



.iti__mobile {
  .iti__country-list {
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
  }
}