footer.footer
  .footer__title-wrap
    h2 Зв'яжіться зі мною 
    button(data-call-us-btn)
      +svg("arrow")
      p Давайте обговоримо проєкт
  .footer-links-wrap
    ul.social-list 
      li 
        a(href="") Facebook
      li 
        a(href="") Linkedin
      li 
        a(href="") Instagram
    a(href="").creator-link Made by 
      span Khomchenko.Agency





