header.header
  .header-bg 
    .logo-wrap 
      p S 
        span trashko 
    .tools-wrap 
      button.call-us-btn(data-call-us-btn) Зв’язатись 
        span зі мною
      .language-wrap
        ul.language-list 
          li 
            a(href="") UA 
          li 
            a(href="") EN





