
extends ../layout/main
block variable
  -
    var title_page = 'index'
    var id_page = 'id-page-index'
    var class_page = 'class-page-index'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
block content
  section.hero 
    .hero-bg 
      .hero-img
      img.hero-img-pc(src="./assets/images/title-ua.png" alt="title and portrait")
      .hero-text-content
        h1.hero-title Володимир 
          br 
          | Страшко
        ul.hero-list 
          li Підприємець
          li Консультант
          li Бізнес-тренер
          li Експерт з EDTECH
        ul.social-list 
          li 
            a(href="") Facebook
          li 
            a(href="") Linkedin
          li 
            a(href="") Instagram
  section.about 
    h2.section-title ПРО МЕНЕ
    .section-text-wrap
      p.section-text Підприємець і СEO з більш ніж десятирічним досвідом роботи в EdTech, консалтингу, телекомунікаціях та державному управлінні. Доктор філософії з економіки (PhD), експерт з людського капіталу. Cертифікований бізнес- тренер. 
      button(data-details-btn)
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34" viewBox="0 0 35 34" fill="none">
          <g clip-path="url(#clip0_1098_4497)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.75 11.936H8.5V14.436H9.75H22.2242L9.50483 27.1554L8.62095 28.0393L10.3887 29.807L11.2726 28.9231L23.9996 16.1961V28.6856V29.9356H26.4996V28.6856V13.186V11.936H25.2496H9.75Z" fill="#FF3A00"/>
          </g>
          <defs>
            <clipPath id="clip0_1098_4497">
              <rect width="34" height="34" fill="white" transform="translate(0.5)"/>
            </clipPath>
          </defs>
        </svg>
        p Детальніше
    p.section-slogan Навчив 
      span.accent-text понад 2000 підприємців 
      | управлінню командами, проєктами та процесами
  section.partners 
    h2.section-title Mої клієнти та партнери:
      <svg class="expand-arrow" xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.40773 0.393826L6.40603 8.44647L10.3104 4.56885L10.8767 5.13908L5.98228 10L1.11662 5.10083L1.70988 4.51163L5.58587 8.41432L5.58756 0.426106L6.40773 0.393826Z" fill="#1D1D1D" fill-opacity="0.5"/>
        <path d="M6.55773 0.393857L6.55777 0.237805L6.40183 0.243942L5.58166 0.276222L5.43759 0.281893L5.43756 0.426075L5.43595 8.0505L1.81631 4.40593L1.71061 4.2995L1.60418 4.4052L1.01092 4.9944L0.904492 5.1001L1.01019 5.20653L5.87585 10.1057L5.98155 10.2121L6.08798 10.1064L10.9824 5.24551L11.0888 5.13981L10.9831 5.03338L10.4168 4.46315L10.3111 4.35672L10.2047 4.46242L6.55611 8.08601L6.55773 0.393857Z" stroke="#1D1D1D" stroke-opacity="0.5" stroke-width="0.3" stroke-linecap="square"/>
      </svg>
    ul.partners-list
      li 
        img(alt="partners" src="./assets/images/partners/partner1.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner2.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner3.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner4.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner5.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner6.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner7.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner8.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner9.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner10.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner11.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner12.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner13.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner14.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner15.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner16.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner17.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner18.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner19.png")
      li 
        img(alt="partners" src="./assets/images/partners/partner20.png")
  section.filler-photo1 
    .right-border 
    .left-border
    img(src="./assets/images/filler1.jpg" alt="filler")
  section.projects 
    h2.section-title Проєкти

    p.section-descr У моєму портфоліо десятки реалізованих національних освітніх EdTech проєктів
    ul.projects-list 
      li
        a(href="").project
          .project__text-wrap
            label.project__position Co-founder
            h3.project__name HR You
          img(src="./assets/images/projects/project1.png" alt="project")
      li
        a(href="").project
          .project__text-wrap
            label.project__position Chief Methodologist
            h3.project__name Association of Innovative and Digital Education
          img(src="./assets/images/projects/project2.png" alt="project")
      li
        a(href="").project
          .project__text-wrap
            label.project__position CEO
            h3.project__name UNicorn SChool
          img(src="./assets/images/projects/project3.png" alt="project")
      li
        a(href="").project
          .project__text-wrap
            label.project__position CEO
            h3.project__name EDMAPS
          img(src="./assets/images/projects/project4.png" alt="project")
      li
        a(href="").project
          .project__text-wrap
            label.project__position Mentor
            h3.project__name BOArd
          img(src="./assets/images/projects/project5.png" alt="project")
      //- desctop slider
    .swiper-projects
      .swiper-wrapper 
        .swiper-slide 
          a(href="").project--pc
            .project__text-wrap--pc
              label.project__position--pc Co-founder
              h3.project__name--pc HR You
            .project-img-wrap
              img(src="./assets/images/projects/project1.png" alt="project")
        .swiper-slide
          a(href="").project--pc
            .project__text-wrap--pc
              label.project__position--pc Chief Methodologist
              h3.project__name--pc Association of Innovative and Digital Education
            .project-img-wrap
              img(src="./assets/images/projects/project2.png" alt="project")
        .swiper-slide
          a(href="").project--pc
            .project__text-wrap--pc
              label.project__position--pc CEO
              h3.project__name--pc UNicorn SChool
            .project-img-wrap
              img(src="./assets/images/projects/project3.png" alt="project")
        .swiper-slide
          a(href="").project--pc
            .project__text-wrap--pc
              label.project__position--pc CEO
              h3.project__name--pc EDMAPS
            .project-img-wrap
              img(src="./assets/images/projects/project4.png" alt="project")
        .swiper-slide
          a(href="").project--pc
            .project__text-wrap--pc
              label.project__position--pc Mentor
              h3.project__name--pc BOArd
            .project-img-wrap
              img(src="./assets/images/projects/project5.png" alt="project")

  section.coach
    h2.section-title Сертифікований бізнес коуч і ментор 
    p.coach-descr Провів понад 500 тренінгів    
      span у державних установах та національних компаніях
    .swiper-state
      .swiper-wrapper 
        .swiper-slide 
          img(src="./assets/images/states/state1.png" alt="state")
          img(src="./assets/images/states/state2.png" alt="state")
        .swiper-slide 
          img(src="./assets/images/states/state3.png" alt="state")
          img(src="./assets/images/states/state4.png" alt="state")
        .swiper-slide 
          img(src="./assets/images/states/state5.png" alt="state")
          img(src="./assets/images/states/state6.png" alt="state")
        .swiper-slide 
          img(src="./assets/images/states/state7.png" alt="state")
          img(src="./assets/images/states/state8.png" alt="state")
        .swiper-slide 
          img(src="./assets/images/states/state9.png" alt="state")
          img(src="./assets/images/states/state10.png" alt="state")
        .swiper-slide 
          img(src="./assets/images/states/state11.png" alt="state")
          img(src="./assets/images/states/state12.png" alt="state")
        .swiper-slide 
          img(src="./assets/images/states/state13.png" alt="state")
          img(src="./assets/images/states/state14.png" alt="state")
    .state-list 
      img(src="./assets/images/states/state1.png" alt="state")
      img(src="./assets/images/states/state2.png" alt="state")
      img(src="./assets/images/states/state3.png" alt="state")
      img(src="./assets/images/states/state4.png" alt="state")
      img(src="./assets/images/states/state5.png" alt="state")
      img(src="./assets/images/states/state2.png" alt="state")
      img(src="./assets/images/states/state6.png" alt="state")
      img(src="./assets/images/states/state7.png" alt="state")
      img(src="./assets/images/states/state8.png" alt="state")
      img(src="./assets/images/states/state9.png" alt="state")
      img(src="./assets/images/states/state10.png" alt="state")
      img(src="./assets/images/states/state11.png" alt="state")
      img(src="./assets/images/states/state13.png" alt="state")
      img(src="./assets/images/states/state14.png" alt="state")
    .swiper-stories
      .swiper-wrapper 
        .swiper-slide 
          <video muted playsinline preload="true" class="1" type='video/mp4'>
            <source src="./assets/images/videos/1.mp4" >
          </video>

        .swiper-slide 
          <video muted playsinline preload="true" class="2" type='video/mp4'>
            <source src="./assets/images/videos/2.mp4" >
          </video>
        .swiper-slide 
          <video muted playsinline preload="true" playsinline class="3" type='video/mp4' >
            <source src="./assets/images/videos/1.mp4" >
          </video>
        .swiper-slide 
          <video muted playsinline preload="true" class="4" type='video/mp4' >
            <source src="./assets/images/videos/1.mp4" >
          </video>
        .swiper-slide 
          <video muted playsinline preload="true" class="5" type='video/mp4' >
            <source src="./assets/images/videos/1.mp4" >
          </video>
        .swiper-slide 
          <video muted playsinline preload="true" class="6" type='video/mp4' >
            <source src="./assets/images/videos/1.mp4" >
          </video>
        .swiper-slide 
          <video muted playsinline preload="true" class="7" type='video/mp4' >
            <source src="./assets/images/videos/2.mp4" >
          </video>
      .swiper-pagination 
  section.services
    h2.services-title Чим я можу допомогти
    .section-padding
      .services-filter-btns 
        button.services-filter-btn.general-btn(data-btn-value="trainings") Тренінги
        button.services-filter-btn.active.general-btn(data-btn-value="consalting") Консалтинг
        button.services-filter-btn.general-btn(data-btn-value="moderation") Модерація
      ul.services-list 
        li(data-card-value="consalting")
          .text-wrap 
            h3 Персональні консультації з управління бізнесом та командами 
            p Персональний консалтинг з управління бізнесом та командою, який допоможе вам оптимізувати процеси та підвищити ефективність, враховуючи специфіку вашого бізнесу.
          button.hover-btn(data-call-us-btn)
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M4 4.62793H20C21.1 4.62793 22 5.52793 22 6.62793V18.6279C22 19.7279 21.1 20.6279 20 20.6279H4C2.9 20.6279 2 19.7279 2 18.6279V6.62793C2 5.52793 2.9 4.62793 4 4.62793Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22 6.62793L12 13.6279L2 6.62793" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            p Зв’яжіться 
              br
              | зі мною
        li(data-card-value="consalting")
          .text-wrap 
            h3 Персональні консультації з управління бізнесом та командами 
            p Персональний консалтинг з управління бізнесом та командою, який допоможе вам оптимізувати процеси та підвищити ефективність, враховуючи специфіку вашого бізнесу.
          button.hover-btn(data-call-us-btn)
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M4 4.62793H20C21.1 4.62793 22 5.52793 22 6.62793V18.6279C22 19.7279 21.1 20.6279 20 20.6279H4C2.9 20.6279 2 19.7279 2 18.6279V6.62793C2 5.52793 2.9 4.62793 4 4.62793Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22 6.62793L12 13.6279L2 6.62793" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            p Зв’яжіться 
              br
              | зі мною
        li(data-card-value="consalting")
          .text-wrap 
            h3 Персональні консультації з управління бізнесом та командами 
            p Персональний консалтинг з управління бізнесом та командою, який допоможе вам оптимізувати процеси та підвищити ефективність, враховуючи специфіку вашого бізнесу.
          button.hover-btn(data-call-us-btn)
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M4 4.62793H20C21.1 4.62793 22 5.52793 22 6.62793V18.6279C22 19.7279 21.1 20.6279 20 20.6279H4C2.9 20.6279 2 19.7279 2 18.6279V6.62793C2 5.52793 2.9 4.62793 4 4.62793Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22 6.62793L12 13.6279L2 6.62793" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            p Зв’яжіться 
              br
              | зі мною
      .mobile-hover-btn-wrap
        button.hover-btn(data-call-us-btn)
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M4 4.62793H20C21.1 4.62793 22 5.52793 22 6.62793V18.6279C22 19.7279 21.1 20.6279 20 20.6279H4C2.9 20.6279 2 19.7279 2 18.6279V6.62793C2 5.52793 2.9 4.62793 4 4.62793Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M22 6.62793L12 13.6279L2 6.62793" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Зв’яжіться 
            br
            | зі мною
  section.questions 
    h2.question__title З якими запитами я вже допоміг 
      span своїм клієнтам
    ul.questions__list 
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Маштабування бізнесу
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Створення освітніх продуктів з нуля
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Низька ефективність команди
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Ефективне управління проектами
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Як стати лідером
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Управління командами

      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Мотивація співробітників
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Розробка продукту
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Формування команди
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Ефективні бізнес процеси
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Запуск онлайн-шкіл
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Стратегічне планування
      li.question
        .question-wrap
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M5.5 9.62793C7.70914 9.62793 9.5 7.83707 9.5 5.62793C9.5 3.41879 7.70914 1.62793 5.5 1.62793C3.29086 1.62793 1.5 3.41879 1.5 5.62793C1.5 7.83707 3.29086 9.62793 5.5 9.62793Z" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5002 10.6281L8.3252 8.45312" stroke="#183E2D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          p Впровадження проєктного управління
  section.courses 
    h2.courses__title Курси
    .courses-filter-btns 
      button.courses-filter-btn.general-btn(data-name="author") Авторські
        span  курси
      button.courses-filter-btn.general-btn.active(data-name="open") Відкриті
        span  курси
    ul.courses-list 
      li(data-name="open")
        a(href="" rel="noopener noreferrer" target="_blank")
          h3 Управління людьми та проектами
          .svg-wrap
            +svg('arrow')  
            +svg('arrow')
      li(data-name="open")
        a(href="" rel="noopener noreferrer" target="_blank")
          h3 Лідерство в парламентській службі
          .svg-wrap  
            +svg('arrow')  
            +svg('arrow')
      li(data-name="open")
        a(href="" rel="noopener noreferrer" target="_blank")
          h3 Основи підприємницьких навичок
          .svg-wrap  
            +svg('arrow')  
            +svg('arrow')
      li(data-name="open")
        a(href="" rel="noopener noreferrer" target="_blank")
          h3 Професія: Викладач (мистецтво викладання)
          .svg-wrap  
            +svg('arrow')  
            +svg('arrow')
    ul.mobile-open-courses-svg 
      li
        img(alt="partners" src="./assets/images/states/state1.png")
      li 
        img(alt="partners" src="./assets/images/projects/project2.png")
      li 
        img(alt="partners" src="./assets/images/states/state15.png")
  section.filler-photo-2
    img(src="./assets/images/filler-2.jpg" alt="filler-2")

  section.reviews 
    h2.section-title ВІДГУКИ
    p.section-descr Мої клієнти скажуть краще за мене 
    .swiper-reviews
      .swiper-wrapper 
        .swiper-slide 
          +svg('review')
          p.review-text Дуже структурований і корисний курс. Багато моментів Володимир підкріплює своїм особистим досвідом, який цікаво і важливо почути. Деякі кейси були просто безцінними, і вся команда досі їх пам'ятає (особливо про "Золоті горіхи") 🙂. Рекомендую курс не тільки початківцям, але й досвідченим фахівцям. Володимир вміє все чітко викласти, допомагає структурувати думки. Вова, дякую тобі! І якщо у мене буде можливість, я б із задоволенням відвідав ваш курс ще раз! :)
          .review-author-wrap 
            img(src="./assets/images/author.jpg" alt="").review-author-img
            p.review-author-name Світлана Єфремова 
        .swiper-slide 
          +svg('review')
          p.review-text  Мені дуже сподобався тренінг Володимира. Він дав багато корисної інформації, яка допомагає виявити помилки та знайти рішення. Це, безумовно, мотивує і часом змушує переосмислити певні речі. З нетерпінням чекаю наступної зустрічі!
          .review-author-wrap 
            img(src="./assets/images/author.jpg" alt="").review-author-img
            p.review-author-name Світлана Єфремова 
        .swiper-slide 
          +svg('review')
          p.review-text  Хочу висловити подяку за проведений тренінг. Співробітники нашої компанії залишилися дуже задоволені роботою тренера. Незважаючи на тривалість тренінгу, який зайняв весь робочий день, він був настільки легким та інтерактивним, що хотілося залишитися і ще більше попрактикувати нові знання. Співробітники відкрили для себе нові техніки продажів (адже саме цьому була присвячена тема заходу), навчилися справлятися зі складними ситуаціями в розмовах. Всі нові "фішки" ми застосовуємо в роботі, і це значно підвищило продуктивність.
          .review-author-wrap 
            img(src="./assets/images/author.jpg" alt="").review-author-img
            p.review-author-name Світлана Єфремова 
  section.media 
    h2.section-title Я В МЕДІА
    p.section-descr Статті та публікації
    .media-list 
      a.media-link(href="" target="_blank")  
        .img-wrap 
          .hover-circle Читати
          img(src="./assets/images/article.jpg" alt="")
        time(datetime="") 3 березня, 2023
        h3 Як працює перша у світі школа онлайн-ігор
        p Unicorn School - перша школа у світі, яка працює у форматі комп'ютерної гри. Зроблено в Україні :) Наш продукт ліцензований Міністерством освіти і науки, за ним навчається близько 5000 дітей, і ми видаємо класичний атестат про повну загальну середню освіту. 
        .source-wrap 
          img(src="./assets/images/source.jpg" alt="") 
          .source__text-wrap 
            h4 Володимир Страшко
            span для Speka
      a.media-link(href="" target="_blank")  
        .img-wrap 
          .hover-circle Читати
          img(src="./assets/images/article.jpg" alt="")
        time(datetime="") 3 березня, 2023
        h3 Як працює перша у світі школа онлайн-ігор
        p Unicorn School - перша школа у світі, яка працює у форматі комп'ютерної гри. Зроблено в Україні :) Наш продукт ліцензований Міністерством освіти і науки, за ним навчається близько 5000 дітей, і ми видаємо класичний атестат про повну загальну середню освіту. 
        .source-wrap 
          img(src="./assets/images/source.jpg" alt="") 
          .source__text-wrap 
            h4 Володимир Страшко
            span для Speka
      a.media-link(href="" target="_blank") 
        .img-wrap 
          .hover-circle Читати
          img(src="./assets/images/article.jpg" alt="") 
        time(datetime="") 3 березня, 2023
        h3 Як працює перша у світі школа онлайн-ігор
        p Unicorn School - перша школа у світі, яка працює у форматі комп'ютерної гри. Зроблено в Україні :) Наш продукт ліцензований Міністерством освіти і науки, за ним навчається близько 5000 дітей, і ми видаємо класичний атестат про повну загальну середню освіту. 
        .source-wrap 
          img(src="./assets/images/source.jpg" alt="") 
          .source__text-wrap 
            h4 Володимир Страшко
            span для Speka
    .load-more-wrap 
      button.load-more-btn.general-btn Показати ще
  section.youtube-videos 
    h2.section-title Project
    p.section-descr Всеукраїнська платформа емоційної підтримки
    .swiper-youtube
      .swiper-wrapper 
        .swiper-slide(data-youtube-btn)
          img(src="./assets/images/preview.jpg" alt="" data-href="https://www.youtube.com/embed/teWb5kja7Hg?si=as-c9JnaqqbTv5aH" data-popup-video).preview
          img(src="./assets/images/Youtube_logo.png" alt="youtube icon").youtube-icon
        .swiper-slide(data-youtube-btn)
          img(src="./assets/images/preview.jpg" alt="" data-href="https://www.youtube.com/embed/LdHMMsLA_i4?si=_1c3zIMYgF_B5Lt7" data-popup-video).preview
          img(src="./assets/images/Youtube_logo.png" alt="youtube icon").youtube-icon
        .swiper-slide(data-youtube-btn)
          img(src="./assets/images/preview.jpg" alt="" data-href="" data-popup-video).preview
          img(src="./assets/images/Youtube_logo.png" alt="youtube icon").youtube-icon
        .swiper-slide(data-youtube-btn)
          img(src="./assets/images/preview.jpg" alt="" data-href="" data-popup-video).preview
          img(src="./assets/images/Youtube_logo.png" alt="youtube icon").youtube-icon
        .swiper-slide(data-youtube-btn)
          img(src="./assets/images/preview.jpg" alt="" data-href="" data-popup-video).preview
          img(src="./assets/images/Youtube_logo.png" alt="youtube icon").youtube-icon
        .swiper-slide(data-youtube-btn)
          img(src="./assets/images/preview.jpg" alt="" data-href="" data-popup-video).preview
          img(src="./assets/images/Youtube_logo.png" alt="youtube icon").youtube-icon
        .swiper-slide(data-youtube-btn)
          img(src="./assets/images/preview.jpg" alt="" data-href="" data-popup-video).preview
          img(src="./assets/images/Youtube_logo.png" alt="youtube icon").youtube-icon
        .swiper-slide(data-youtube-btn)
          img(src="./assets/images/preview.jpg" alt="" data-href="" data-popup-video)
          img(src="./assets/images/Youtube_logo.png" alt="youtube icon").youtube-icon
  section.filler-photo-3
    img(src="./assets/images/filler-2.jpg" alt="filler-3")
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
