// @font-face {
//   font-family: 'HelveticaNeueCyr';
//   src: local('HelveticaNeueCyr Thin'), local('HelveticaNeueCyr-Thin'),
//     url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
//     url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2');
//   font-weight: 200;
//   font-style: normal;
// }



@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine Thin'), local('e-Ukraine-Thin'),
    url('../fonts/e-UkraineHead-Thin.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine UltraLight'), local('e-Ukraine-UltraLight'),
    url('../fonts/e-UkraineHead-UltraLight.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine Light'), local('e-Ukraine-Light'),
    url('../fonts/e-UkraineHead-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine Regular'), local('e-Ukraine-Regular'),
    url('../fonts/e-UkraineHead-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine Medium'), local('e-Ukraine-Medium'),
    url('../fonts/e-UkraineHead-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine Bold'), local('e-Ukraine-Bold'),
    url('../fonts/e-UkraineHead-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

//head

// @font-face {
//   font-family: 'e-Ukraine';
//   src: local('e-Ukraine Thin'), local('e-Ukraine-Thin'),
//     url('../fonts/e-UkraineHead-Thin.otf') format('otf');
//   font-weight: 100;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'e-Ukraine';
//   src: local('e-Ukraine UltraLight'), local('e-Ukraine-UltraLight'),
//     url('../fonts/e-UkraineHead-UltraLight.otf') format('otf');
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'e-Ukraine';
//   src: local('e-Ukraine Light'), local('e-Ukraine-Light'),
//     url('../fonts/e-UkraineHead-Light.otf') format('otf');
//   font-weight: 300;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'e-Ukraine';
//   src: local('e-Ukraine Regular'), local('e-Ukraine-Regular'),
//     url('../fonts/e-UkraineHead-Regular.otf') format('otf');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'e-Ukraine';
//   src: local('e-Ukraine Medium'), local('e-Ukraine-Medium'),
//     url('../fonts/e-UkraineHead-Medium.otf') format('otf');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'e-Ukraine';
//   src: local('e-Ukraine Bold'), local('e-Ukraine-Bold'),
//     url('../fonts/e-UkraineHead-Bold.otf') format('otf');
//   font-weight: 700;
//   font-style: normal;
// }