// @font-face {
//   font-family: 'HelveticaNeueCyr';
//   src: local('HelveticaNeueCyr Thin'), local('HelveticaNeueCyr-Thin'),
//     url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
//     url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2');
//   font-weight: 200;
//   font-style: normal;
// }



@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine Thin'), local('e-Ukraine-Thin'),
    url('../fonts/e-Ukraine-Thin.otf') format('otf'), url('../fonts/e-Ukraine-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine UltraLight'), local('e-Ukraine-UltraLight'),
    url('../fonts/e-Ukraine-UltraLight.otf') format('otf'), url('../fonts/e-Ukraine-UltraLight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine Light'), local('e-Ukraine-Light'),
    url('../fonts/e-Ukraine-Light.otf') format('otf'), url('../fonts/e-Ukraine-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine Regular'), local('e-Ukraine-Regular'),
    url('../fonts/e-Ukraine-Regular.otf') format('otf'), url('../fonts/e-Ukraine-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine Medium'), local('e-Ukraine-Medium'),
    url('../fonts/e-Ukraine-Medium.otf') format('otf'), url('../fonts/e-Ukraine-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine Bold'), local('e-Ukraine-Bold'),
    url('../fonts/e-Ukraine-Bold.otf') format('otf'), url('../fonts/e-Ukraine-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

//fixel display

@font-face {
  font-family: 'FixelDisplay';
  src: local('FixelDisplay Thin'), local('FixelDisplay-Thin'),
    url('../fonts/FixelDisplay-Thin.woff') format('woff'), url('../fonts/FixelDisplay-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: local('FixelDisplay ExtraLight'), local('FixelDisplay-ExtraLight'),
    url('../fonts/FixelDisplay-ExtraLight.woff') format('woff'), url('../fonts/FixelDisplay-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: local('FixelDisplay Light'), local('FixelDisplay-Light'),
    url('../fonts/FixelDisplay-Light.woff') format('woff'), url('../fonts/FixelDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'FixelDisplay';
  src: local('FixelDisplay Regular'), local('FixelDisplay-Regular'),
    url('../fonts/FixelDisplay-Regular.woff') format('woff'), url('../fonts/FixelDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: local('FixelDisplay Medium'), local('FixelDisplay-Medium'),
    url('../fonts/FixelDisplay-Medium.woff') format('woff'), url('../fonts/FixelDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: local('FixelDisplay SemiBold'), local('FixelDisplay-SemiBold'),
    url('../fonts/FixelDisplay-SemiBold.woff') format('woff'), url('../fonts/FixelDisplay-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: local('FixelDisplay Bold'), local('FixelDisplay-Bold'),
    url('../fonts/FixelDisplay-Bold.woff') format('woff'), url('../fonts/FixelDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}